@font-face {
   font-family: 'clone-rounded-latn-rg';
   font-display: swap;
   src: url('file:///Users/hubby/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2026-01-28_211131/fonts/clone-rounded-latn-rg/font.ttf');
}
